%text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin respond-to-($screen-type) {
    @if $screen-type=="below-ipad" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
    @if $screen-type=="ipad" {
        @media screen and (min-width:768px) and (max-width: 1024px) {
            @content;
        }
    }
    @if $screen-type=="mobile" {
        @media screen and (max-width: 420px) {
            @content;
        }
    }
}