.d-none {
    display: none;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: greenyellow;
}

.blue-bg {
    background-color: blue;
}

.orange-bg {
    background-color: orange;
}

.yellow-bg {
    background-color: yellow;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

// .border-red {
//     border-color: red;
// }

// .border-green {
//     border-color: greenyellow;
// }

// .border-blue {
//     border-color: blue;
// }

// .border-orange {
//     border-color: orange;
// }

// .border-yellow {
//     border-color: yellow;
// }

// .border-black {
//     border-color: black;
// }

// .border-white {
//     border-color: white;
// }